$blue-gradient-solid: linear-gradient(40deg, #000000, #07164967);
$nav-gradient-solid: linear-gradient(
	150deg,
	rgba(255, 255, 255, 1) 20%,
	rgb(201, 198, 193) 100%
);
$black-gradient: linear-gradient(0deg, #000000ed, #07164967);
$black-gradient: linear-gradient(40deg, #000000, #040c29b3);

$pure-white: #fff;
$dark: #0e1f2a;
$extra:#4D98B6;


$extraLight: #DEEEFD;
$bg-color: #fff;
$text-dark: #0e1f2a;
$text-light: #fff;
$bg-color-dark: #292a32;

$extra-dark: #292a32;
$bg-color-dark: #23272f;
$bg-color-dark: #23272f;
$bg-color-dark: #23272F;

$popup-box-shadow-color: #4d98b69a;
$black-shadow: rgba(14, 31, 42, 0.5);

