@import "./mixins";
@import "./colors";
@import "./animations";
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
p,
input,
label,
a {
	font-weight: 300;
}
a {
	color: $text-dark;
	text-decoration: none;
}
h2 {
	font-weight: 300;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Lato", sans-serif;
	font-size: 1.6rem;
	background-color: $bg-color;
	overflow-x: hidden;
	background: rgb(236, 236, 236);
	background: -moz-linear-gradient(
		180deg,
		rgba(236, 236, 236, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	);
	background: -webkit-linear-gradient(
		180deg,
		rgba(236, 236, 236, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	);
	background: linear-gradient(
		180deg,
		rgba(236, 236, 236, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ececec",endColorstr="#ffffff",GradientType=1);
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	color: $dark;
}
br {
	margin: 1em;
	padding: 0.2em;
}
span {
	font-weight: 700;
}

section {
	min-height: 90vh;
	background-color: transparent;
}
.burger-btn {
	position: fixed;
	top: 20px;
	right: 40px;
	background: none;
	border: 1px solid transparent;
	padding: 1em;
	cursor: pointer;
	z-index: 1000;
	border-radius: 3px;

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		@include burgerBtn;
	}

	&__bars {
		width: 100%;

		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}

		&::after {
			top: 13px;
			width: 60%;
		}
	}

	&:focus {
		outline: none;
		border: 1px solid rgba(28, 28, 31, 0.5);
		border-radius: 3px;
	}

	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}
}

.nav {
	position: fixed;
	z-index: 100000000;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background-image: $nav-gradient-solid;
	z-index: 100;
	font-weight: 500;

	&--active {
		transform: translateX(0);
	}

	&__item {
		position: relative;
		display: block;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		font-size: 2.8rem;
		color: $text-dark;
		text-decoration: none;
		z-index: 10000000000;
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 4px;
			height: 100%;
			transform: scaleY(0);
			background-color: $pure-white;

			transition: transform 0.3s;
			content: "";
		}

		&:hover::before {
			transform: scaleY(1);
		}
	}
	&__item:hover {
		color: $text-dark;
	}
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}
.black-bars-color,
.black-bars-color::after,
.black-bars-color::before {
	background-color: $pure-white;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 90vh;
	min-width: 100vw;
	padding: 2em;
	color: $text-light;
	background-attachment: scroll;
	@include heroImages2("./../../dist/img/headerXS.webp");
	overflow-x: hidden;

	&__heading {
		position: relative;
		max-width: max-content;
		font-family: "Lato", sans-serif;
		font-size: 4.5rem;
		font-weight: 900;
		letter-spacing: 0.15em;
		text-shadow: 3px 2px 3px $dark;
		overflow: hidden;
		white-space: wrap;
		margin: 0 auto;
		letter-spacing: 0.15em;
		opacity: 0;
		animation: fadeIn 2s ease-in-out forwards;
		text-align: center;
	}

	hr {
		margin: 0.5em;
		width: 300px;
		border: 0.1px solid $pure-white;
		opacity: 0.3;
	}

	&__text {
		text-align: center;
		font-size: 3rem;
		font-weight: 100;
		text-shadow: 0px 2px 4px $dark;
	}

	&__btn {
		display: flex;
		position: relative;
		top: 180px;
		padding: 1em 2em;
		font-size: 1.6rem;
		font-weight: 900;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $text-dark;
		background-color: $bg-color;
		border: none;
		border-radius: 3px;
		cursor: pointer;
		box-shadow: 2px 3px 5px $dark;
		animation: showAboutMeBtn 3.2s backwards;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 110%;
			height: 110%;
			color: $text-light;
			background-color: $extra;
			opacity: 1;
			border-radius: 3px;
		}

		a {
			color: $text-light;
			font-weight: 700;
			text-decoration: none;

			&:hover {
				color: $text-light;
			}
		}
	}

	&__btn:hover {
		color: $text-light;
		z-index: 10;

		&::before {
			opacity: 1;
		}
	}
}

.btn-special-animation {
	position: relative;
	z-index: 0;
	color: $text-dark;
	overflow: hidden;
	transition: background-color 0.1s, color 0.5s;

	&::before {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: scaleX(0);
		transform-origin: right;
		z-index: -1;
		transition: transform 0.3s;
	}

	&:hover::before {
		transform: scaleX(1);
		transform-origin: left;
		color: $text-light;
	}
}

.about {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: space-around;
	align-items: flex-start;
	min-height: 40em;
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 2em;
	border-radius: 3px;
	z-index: 1;

	&__img {
		display: flex;
		justify-content: center;
		align-self: center;
		position: relative;
		max-width: fit-content;
		height: auto;
		margin-top: 2em;
		margin-left: 0px;
		top: -20px;
		left: 40px;
		border-radius: 3px;
		img {
			position: relative;
			max-width: min-content;
			height: max-content;
			filter: saturate(0);
			justify-content: center;
			transition: transform 0.4s ease-in-out, filter 1s ease-in-out;
			border: outset 0px solid $dark;
			border-radius: 3px;
			// border-bottom: outset 30px solid white;
			object-fit: cover;
			box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.425);
			transform: rotateY(-3deg);
		}

		img:hover {
			filter: saturate(1);
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		position: relative;
		margin-left: 5em;
		height: 100%;
		max-width: 43em;
		overflow: hidden;
		letter-spacing: 0.08em;
		text-align: justify;
		margin-top: 0px;
		margin-bottom: 4em;
		background-color: $bg-color;
		border-radius: 3px;
		box-shadow: 10px 10px 12px rgb(255, 255, 255);

		&-title {
			display: flex;
			justify-content: center;
			justify-self: start;
			font-size: 2.8em;
			font-weight: 300;
			text-transform: uppercase;
			margin: 0.5em;
		}

		&-info {
			display: block;
			padding: 2em;
			margin: 1em;
			border: 1px solid rgba(255, 255, 255, 0.89);
			background-color: $bg-color;
			border-radius: 3px;
			text-indent: 1.5em;
			color: $text-dark;
			font-family: "Lato", sans-serif;
			font-size: 1.2em;
			line-height: 1.3em;

			strong {
				color: $extra;
			}
		}
	}
}

hr {
	justify-content: center;
	width: 100px;
	opacity: 0.2;
}

.offers {
	max-width: 90vw;
	min-height: 100vh;
	margin: 2em 6em;
	margin-bottom: 8em;
	padding-top: 40px;
	padding: 20px 0;

	&__title {
		margin-top: 2em;
		margin-bottom: 2em;
		text-align: center;
		font-size: 2.8em;
		text-transform: uppercase;
	}
	.cards {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		.card {
			width: 28em;
			margin-bottom: 40px;
			margin-left: 0.5em;
			margin-right: 0.5em;
			border-radius: 3px;
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
			transition: box-shadow 0.3s ease-in-out;
			overflow: hidden;
			background-color: $bg-color-dark;
			border: none;
			&__image {
				display: flex;
				position: relative;
				display: inline-block;
				align-items: center;
				justify-content: center;
				height: 350px;
				overflow: hidden;
				object-fit: fill;
				background-color: $bg-color-dark;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border: none;
					z-index: 10000;
				}
			}
			&__image::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $black-shadow;
				/* czarny kolor z połowiczną przezroczystością */
				pointer-events: none;
			}

			&__content {
				padding: 20px;
				text-align: justify;
				cursor: auto;
			}
			&__title {
				margin: 0 0 20px 0;
				font-size: 24px;
				text-transform: uppercase;
				color: $extra;
			}

			&__description {
				margin: 0;
				font-size: 16px;
				line-height: 1.5;
				color: $text-light;
			}
		}
		.card:hover {
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
		}
	}
}

.swiper-container {
	width: 100%;
	min-height: 100vh;
	transition-duration: 5s;
	.swiper-slide {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 100vh;

		.projects {
			margin: 1em;

			&__title {
				font-size: 48px;
				margin-bottom: 50px;
			}

			&__grid {
				justify-content: center;

				.project {
					margin-bottom: 8em;
					margin-right: 1.5em;
					max-width: 30%;

					&__image {
						margin-bottom: 3em;
					}

					&__title {
						font-size: 3.6rem;
						margin-bottom: 2rem;
					}

					&__description {
						font-size: 2rem;
						margin-bottom: 3em;
					}

					&__tags {
						margin-bottom: 3em;

						li {
							display: flex;
							justify-content: center;
							align-items: center;
							font-size: 1.2rem;
							margin-right: 2rem;
							padding: 2em;
						}
					}
				}
			}
		}
	}
}
.swiper-button-prev,
.swiper-button-next {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	z-index: 100;
	padding: 3em 1em;
	color: $extraLight;
	cursor: pointer;
}
.swiper-button-prev {
	left: 15px;
}
.swiper-button-next {
	right: 15px;
}

.contact {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: $bg-color-dark;
	flex-direction: row;

	&__title {
		position: absolute;
		left: 20%;
		bottom: 0;
		font-weight: 900;
		text-transform: uppercase;
		line-height: 1em;
		text-align: center;
		color: $text-light;
		transform-origin: center left;
		transform: translateY(-50%) rotate(-90deg);
		font-size: 14rem;
		text-transform: uppercase;
		margin: 0;
		background-image: url("/dist/img/contact2.webp");

		background-size: cover;
		background-position: right center;
		background-clip: text;
		color: transparent;
	}
	&__box {
		display: flex;
		position: absolute;
		min-width: 30vw;
		flex-direction: row;
		// justify-content: center;
		right: 0;
		flex-wrap: wrap;
		margin-top: 2.5em;
		border-radius: 3px;
		color: $text-light;

		&-info {
			position: absolute;
			flex-direction: column;
			min-height: 100%;
			min-width: 400px;
			width: 500px;
			margin-bottom: 1em;
			padding: 4em 4em 0em 4em;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			font-size: 1em;
			font-weight: 200;
			color: $text-light;
			letter-spacing: 0.18em;
			// box-shadow: 0 0 0 1px #00000026;

			.title {
				padding-bottom: 1em;
				text-align: center;
				font-size: 1.6em;

				text-transform: uppercase;
			}
			img {
				margin: 0.5em;
				margin-right: 1em;
				height: 2em;
			}
			.address {
				align-items: start;
			}
			a {
				text-decoration: none;
				color: $text-light;
			}

			.contact__box-form {
				display: flex;
				flex-direction: column;
				width: 100%;
				border: 1px solid $bg-color-dark;
				padding: 0em;
				.form-box {
					display: flex;
					flex-direction: column;
					width: 100%;
				}

				label {
					margin: 0.5em 0.3em;
					width: 100%;
					font-size: 1.2em;
				}
				input {
					padding: 0.8em;
					border: none;
					border: 1px solid $bg-color-dark;
					border-radius: 3px;
					outline: transparent;
					color: $text-dark;
					background-clip: padding-box;

					&::placeholder {
						color: $text-dark;
						opacity: 1;
					}
				}

				.error {
					input {
						background-color: $extraLight;
						border: 1px solid $extra;
						font-weight: 500;
					}
					#textarea {
						font-weight: 500;
						background-color: $extraLight;
						border: 1px solid $extra;
					}
					.error-text {
						text-align: center;
						color: $text-dark;
						visibility: visible;
						font-weight: 500;
					}
				}
				.error-text {
					margin: 0.2em 0.6em;
					visibility: hidden;
					font-size: 0.8em;
					color: $extra;
				}

				textarea {
					padding: 1.2em;
					width: 100%;
					height: 8em;
					color: $text-dark;
					border-radius: 3px;
					outline: 1px solid transparent;

					&::placeholder {
						color: $text-light;
					}
				}
				.rodo {
					padding: 0.5em 0;
					padding-bottom: 0;
					font-size: 0.85em;
					text-align: justify;
					letter-spacing: 0.1em;
					a {
						color: $extra;
						font-weight: bold;
					}
				}
				.send {
					margin-top: 1em;
					padding: 0.4em;
					align-self: flex-end;
					width: 100%;
					font-family: "Lato", sans-serif;
					font-weight: 500;
					font-size: 1.7rem;
					background: $pure-white;
					border: 2px solid $dark;
					border-radius: 3px;
					color: $text-dark;
					cursor: pointer;

					&::before {
						background-color: $extra;
						font-weight: 700;
						width: 110%;
						height: 110%;
					}
				}
				.send:hover {
					color: $text-light;
				}
			}
		}
	}
	.form__popup {
		display: none;
		position: absolute;
		padding: 2em;
		width: clamp(30em, 40vw, 80vw);
		height: clamp(16vh, 2vh, 40vh);

		text-align: center;

		background-color: $extraLight;
		border-radius: 3px;
		border: 1px solid $extra;
		left: 50%;
		top: 100px;
		transform: translate(-50%, 0%);
		color: $pure-white;
		z-index: 10000;
		font-size: 1.2em;
		box-shadow: 1px 1px 4px $popup-box-shadow-color;
		&-msg {
			font-family: "Lato", sans-serif;
			letter-spacing: 0.02em;
			font-weight: 500;
		}
		&-close {
			display: flex;
			position: absolute;
			bottom: 0;
			left: 50%;
			padding: 0.8em 2em;
			justify-content: center;
			width: 40%;
			margin: 1em 0;
			margin-bottom: 2em;
			transform: translateX(-50%);
			font-size: 1.2rem;
			font-weight: 900;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: $text-dark;
			background-color: $bg-color;
			border: none;
			border-radius: 3px;
			cursor: pointer;
			box-shadow: 2px 3px 5px rgb(97, 78, 78);

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 110%;
				height: 110%;
				color: $text-dark;
				background-color: $extra;
				opacity: 1;
				border-radius: 3px;
			}
		}
		&-close:hover {
			color: $text-light;
			z-index: 10;
			&::before {
				opacity: 1;
			}
		}
	}
	.show-popup {
		display: block;
	}
}
footer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 4em;
	width: 100%;
	background-color: $bg-color-dark;
	color: $text-light;
	z-index: 100;
	margin-bottom: 0;
	// margin-top: 4em;

	.footer {
		border-top: 2px solid $extra;
		display: flex;
		flex-direction: column;
		padding: 0.3em;
		background-color: $bg-color-dark;

		z-index: 1000;
		width: 100%;

		p {
			font-size: 1.4em;
			font-weight: 300;
			letter-spacing: 0.2em;
			color: $text-light;

			// text-shadow: 0.7px 0.5px 1px rgb(15, 15, 15);
		}
		span {
			font-weight: 300;
		}
		.footer__bottom-text {
			margin: 1em;
			margin-left: 2em;
			margin-bottom: 0.5em;
			justify-content: center;
			text-align: center;
			// text-transform: uppercase;
		}
		.nip {
			display: flex;
			text-align: center;
			justify-content: center;
			font-size: 1em;
		}
	}
}

@media (min-width: 1040px) {
	.header {
		@include heroImages2("./../../dist/img/newheader7.webp");
		height: 110vh;

		&__heading {
			font-size: 6em;
		}
		&__text {
			font-size: 2em;
		}
		hr {
			width: 45%;
		}
	}

	.contact {
		&__box {
			position: absolute;
			width: 100vw;
			// margin: 1em;
			&-info {
				right: 0;
				position: absolute;
				min-width: 60vw;
				flex-direction: column;
				background-attachment: fixed;
			}
		}
	}
	footer {
		font-size: 0.7em;
		.footer {
			p {
				color: $text-light;
				text-shadow: none;
			}
		}
	}
}

@media (max-width: 1200px) {
	.header {
		@include heroImages3("./../../dist/img/headerXS.webp");
		.header__text {
			font-weight: 100;
		}
	}
	.about {
		margin: 0;
		.about__img {
			display: none;
		}
		.about__text {
			margin-left: 0em;
			font-size: 1.1rem;
		}
		.about__text-info {
			padding: 0em;
		}
	}
	.projects {
		display: none;
	}

	.contact {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		width: 100vw;
		font-size: 0.7em;
		line-height: 1.6em;
		color: $text-light;

		padding: 1em auto;
		&__title {
			position: absolute;
			left: 50%;
			top: 0;
			font-weight: 900;
			text-transform: uppercase;
			text-align: center;
			color: $text-light;
			transform-origin: top center;
			transform: translate(-50%) rotate(0deg);
			font-size: 4rem;
			max-height: 3em;
			text-transform: uppercase;
			margin: 1em 0;

			background-image: url("/dist/img/contact2.webp");
			background-position: top;
			background-clip: text;
			color: transparent;
		}
		.contact__box {
			width: 100%;
			padding: 0.5em;
			margin: 1em;
			padding-top: 2em;
			display: flex;
			position: absolute;
			justify-content: center;
			justify-items: center;
			align-items: center;
			right: 5px;
			bottom: 0;

			color: $text-light;

			&-info {
				position: absolute;
				justify-content: center;
				color: $text-light;
				margin: 2em;
				padding-top: 2em;
				padding: 0;
				max-width: 60vw;
				justify-content: center;
				align-items: center;
				bottom: 0;
				left: 50%;
				transform: translate(-50%);

				.contact__items {
					color: $text-light;
					margin: 2em;
					justify-items: center;
					align-items: center;
					font-weight: 300;
					font-size: 1.3em;
				}
			}
			&-form {
				width: 100%;
				padding: 2em;
			}
		}
		.form__popup {
			position: absolute;
			max-width: 80vw;
			margin: 0;
			top: -300px;
			left: 55%;
			transform: translateX(-50%);
		}

		.form__popup-msg {
			justify-content: center;
			align-items: center;
			color: $text-light;
			padding: 1em;
			max-width: fit-content;
		}
	}
	footer {
		font-size: 0.7em;
		.footer {
			p {
				font-size: 1em;
				color: $text-light;

				text-shadow: none;
			}
			.nip {
				font-size: 0.8em;
			}
			a {
				color: $pure-white;
			}
		}
	}
	.cookie__box {
		transform: scale(0.2);
	}
}

@media (max-width: 600px) {
	.contact {
		height: 110vh;
	}
}
